# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
terraform.tfvars
provider-schema.json
tfplan

# Sensitive files
*.pem
*.key

# VS Code
.vscode/